<h1><%= patch['patch_name'] %></h1>
<img src="<%= theme['main_img_url'] %>" height="120px" width="120px">
<h2><%= patch['patch_desc'] %></h2>
<form action="/patches/<%= patch['patch_id'] %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button id="del">Delete Patch</button>
</form>

<a href="/patches/<%= patch['patch_id'] %>/edit">Edit Patch</a>
<a href="/patches/<%= patch['patch_id'] %>/songs/new">Add a song</a>

<ul>
    <%songs.each do |song| %>
        <li>
            <%= song['song_name'] %>
            <%= song['artist'] %>
            <%= song['album'] %>
            <%= song['year'] %>
            <%= song['song_desc'] %>
            <a href="/patches/<%= patch['patch_id'] %>/songs/<%= song['song_id']%>">Edit this song</a>
        </li>
    <% end %>
</ul>
